<!DOCTYPE html>
<html>
<head>
    <title>DD2842-CD-Demo</title>
    <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
    <script type="text/javascript">
        function redirectToUrl() {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    const data = JSON.parse(this.responseText);
                    window.location.href = data.url;
                } else if (this.readyState === 4) {
                    document.getElementById('result').innerText = `Error: ${this.status}`;
                }
            };
            xhr.open("GET", location.origin + "/get_url", true);
            xhr.send();
        }

        function QrCodeGenerator() {
            // http://192.168.0.106 --> Need to change depends the network
            const serverUrl = location.origin;
            new QRCode(document.getElementById('qrcode'), serverUrl);
        }

        window.onload = QrCodeGenerator;
    </script>
</head>
<body>
    <h1>DD2842 Demo: CD with AWS ECS</h1>
    <button onclick="redirectToUrl()">Go our Documentation</button>
    <!-- <button onclick="redirectToUrl()">Go to best search engine</button> -->
    <p id="result"></p>
    <h2> Please scan this QR code</h2>
    <div id="qrcode"> </div>
    <h2>Thank you for listening!</h2>
</body>
</html>
